---
layout: page
title: Comfortable Lifestyle Retirement
---

In [1]:
""" import library and package dependencies """
from sys import path
path.insert(0, '../src')
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.dates as mdates
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
from IPython.display import display, Markdown

from chart_format import StandardChart, LogChart, PercentileChart

## How much do I need to retire?

The amount of savings required at retirement age primarily depends upon the lifestyle retirement expenses, and how long the funds will need to cover these expenses. 

ASFA research suggests a comfortable retirement lifestyle needs to cover expenses of around $75,000 per year. The ASFA calculate the expenses for retirees aged 85 and over are approx 7% lower than those aged 65, because over 85 years any increased medical expenses are offset by significant reduction in travel and leisure expenses. See [ASFA Retirement Expenses adjusted for inflation](retirement-expenses.md).

For a simplified model, assume retirement funds are required from retirement age 65 till age 92, when the retirement fund balance will be zero. 

## Government Age Pension

The Age Pension has a range of eligibility requirements that take home ownership and personal assets into consideration. 

The full pension provides around $45,000 for a retired couple if their combined income is below around $10,000 per year and personal assets (excluding home) are below around $500,000.

All income from the government Age Pension will be excluded from this simplified model.

In [2]:
retirement_age = 50
fund_depletion_age = 91
reduced_mobillity_age = 85
reduced_mobility_expense_rate = 7
living_expenses = 75000
inflation_rate = 2.75
investment_return_rate = 6

In [3]:
def create_retirement_amortization_table(retirement_age, fund_depletion_age, reduced_mobility_age, 
                                       living_expenses, reduced_mobility_expense_rate, 
                                       investment_return_rate, inflation_rate):
    """
    Create inflation-adjusted amortization table with investment returns and inflation as deflator
    
    Parameters:
    retirement_age (int): Age when retirement begins
    fund_depletion_age (int): Age when fund balance reaches zero
    reduced_mobility_age (int): Age when expenses reduce due to reduced mobility
    living_expenses (float): Annual living expenses before reduced mobility
    reduced_mobility_expense_rate (float): Percentage reduction in expenses after reduced mobility
    investment_return_rate (float): Annual investment return rate (%)
    inflation_rate (float): Annual inflation rate (%)
    
    Returns:
    pandas.DataFrame:
    """
    # Calculate real investment return rate
    real_return_rate = investment_return_rate - inflation_rate
    
    # Calculate reduced mobility expenses
    reduced_mobility_expenses = living_expenses * (1 - reduced_mobility_expense_rate / 100)
    
    # Create lists to store the inflation-adjusted data
    ages_real = []
    annual_expenses_real = []
    start_balance_real = []
    investment_return_amount = []
    inflation_amount = []
    real_return_amount = []
    end_balance_real = []
    
    # Work backwards from fund depletion age to calculate required balances
    current_balance_real = 0  # Start with zero at the end
    
    # Build the table working backwards, then reverse for display
    for year in range(fund_depletion_age - retirement_age, -1, -1):
        age = retirement_age + year
        
        # Determine expense for this year
        if age >= reduced_mobility_age:
            expense = reduced_mobility_expenses
        else:
            expense = living_expenses
        
        # Calculate required start balance for this year
        required_start_balance = (current_balance_real + expense) / (1 + real_return_rate/100)
        
        # Calculate investment components
        investment_return = required_start_balance * (investment_return_rate / 100)
        inflation_erosion = required_start_balance * (inflation_rate / 100)
        real_return = investment_return - inflation_erosion
        
        # Store values (we'll reverse the lists later)
        ages_real.insert(0, age)
        annual_expenses_real.insert(0, expense)
        start_balance_real.insert(0, required_start_balance)
        investment_return_amount.insert(0, investment_return)
        inflation_amount.insert(0, inflation_erosion)
        real_return_amount.insert(0, real_return)
        
        # Calculate end balance: start + real_return - expense
        end_balance = required_start_balance + real_return - expense
        end_balance_real.insert(0, end_balance)
        
        # Set up for next iteration (previous year)
        current_balance_real = required_start_balance
        
    # Create DataFrame for the inflation-adjusted amortization table
    amortization_real_df = pd.DataFrame({
        'Age': ages_real,
        'Start Balance': start_balance_real,
        'Investment Rate': investment_return_rate,
        'Investment Return': investment_return_amount,
        'Inflation Rate': inflation_rate,
        'Inflation Erosion': inflation_amount,
        'Real Return': real_return_amount,
        'Annual Expenses': annual_expenses_real,
        'End Balance': end_balance_real
    })
    
    return amortization_real_df

In [4]:
def format_amortization_display(df):
    """
    Format an amortization dataframe for display with currency and percentage formatting.
    
    Parameters:
    df (pandas.DataFrame): The amortization dataframe to format
    
    Returns:
    pandas.DataFrame: A formatted copy of the dataframe for display
    """
    # Format dataframe for display (keep original values for calculations)
    display_df = df.copy()
    
    # Currency columns 
    currency_cols = ['Start Balance', 'Investment Return', 'Inflation Erosion', 'Real Return', 'Annual Expenses', 'End Balance']
    for col in currency_cols:
        if col in display_df.columns:
            display_df[col] = display_df[col].apply(lambda x: f"${x:,.0f}")
    
    # Percentage columns
    percentage_cols = ['Investment Rate', 'Inflation Rate']
    for col in percentage_cols:
        if col in display_df.columns:
            display_df[col] = display_df[col].apply(lambda x: f"{x}%")
    
    display(Markdown(f"Required starting fund balance: {display_df['Start Balance'].iloc[0]}"))
    display(Markdown(f"Balance values expressed in 'real terms' adjusted for inflation by deflating (eroding) future values."))
    display(Markdown(f"\nAmortization Table:"))

    display(display_df)
    #return display_df

In [5]:
# Basic model with cash account interest rate matching inflation

investment_return_rate = 2.75

amortization_real_df = create_retirement_amortization_table(
    retirement_age, fund_depletion_age, reduced_mobillity_age, 
    living_expenses, reduced_mobility_expense_rate, 
    investment_return_rate, inflation_rate
)

display(Markdown(f"""## Cash Portfolio
Assume the retirement funds are held in a cash account with an interest rate matching inflation, resulting in an annual net return of zero.
\nIn this simplified scenario a fund of ${living_expenses*10:,} will only cover annual expenses of ${living_expenses:,} for ten years.
"""))

display(Markdown(f"""Assumptions:
- Living Expenses: ${living_expenses:,}
- Inflation Rate: {inflation_rate}%
- Investment Return Rate: {investment_return_rate}%
- Fund Depletion Age: {fund_depletion_age}
- Reduced Mobility Age: {reduced_mobillity_age}
- Reduced Mobility Expense Rate: {reduced_mobility_expense_rate}%
"""))

format_amortization_display(amortization_real_df)

## Cash Portfolio
Assume the retirement funds are held in a cash account with an interest rate matching inflation, resulting in an annual net return of zero.

In this simplified scenario a fund of $750,000 will only cover annual expenses of $75,000 for ten years.

Assumptions:
- Living Expenses: $75,000
- Inflation Rate: 2.75%
- Investment Return Rate: 2.75%
- Fund Depletion Age: 91
- Reduced Mobility Age: 85
- Reduced Mobility Expense Rate: 7%

Required starting fund balance: $3,113,250

Balance values expressed in 'real terms' adjusted for inflation by deflating (eroding) future values.

Amortization Table:

,Age,Start Balance,Investment Rate,Investment Return,Inflation Rate,Inflation Erosion,Real Return,Annual Expenses,End Balance
0,50,"$3,113,250",2.75%,"$85,614",2.75%,"$85,614",$0,"$75,000","$3,038,250"
1,51,"$3,038,250",2.75%,"$83,552",2.75%,"$83,552",$0,"$75,000","$2,963,250"
2,52,"$2,963,250",2.75%,"$81,489",2.75%,"$81,489",$0,"$75,000","$2,888,250"
3,53,"$2,888,250",2.75%,"$79,427",2.75%,"$79,427",$0,"$75,000","$2,813,250"
4,54,"$2,813,250",2.75%,"$77,364",2.75%,"$77,364",$0,"$75,000","$2,738,250"
5,55,"$2,738,250",2.75%,"$75,302",2.75%,"$75,302",$0,"$75,000","$2,663,250"
6,56,"$2,663,250",2.75%,"$73,239",2.75%,"$73,239",$0,"$75,000","$2,588,250"
7,57,"$2,588,250",2.75%,"$71,177",2.75%,"$71,177",$0,"$75,000","$2,513,250"
8,58,"$2,513,250",2.75%,"$69,114",2.75%,"$69,114",$0,"$75,000","$2,438,250"
9,59,"$2,438,250",2.75%,"$67,052",2.75%,"$67,052",$0,"$75,000","$2,363,250"
10,60,"$2,363,250",2.75%,"$64,989",2.75%,"$64,989",$0,"$75,000","$2,288,250"
11,61,"$2,288,250",2.75%,"$62,927",2.75%,"$62,927",$0,"$75,000","$2,213,250"
12,62,"$2,213,250",2.75%,"$60,864",2.75%,"$60,864",$0,"$75,000","$2,138,250"
13,63,"$2,138,250",2.75%,"$58,802",2.75%,"$58,802",$0,"$75,000","$2,063,250"
14,64,"$2,063,250",2.75%,"$56,739",2.75%,"$56,739",$0,"$75,000","$1,988,250"
15,65,"$1,988,250",2.75%,"$54,677",2.75%,"$54,677",$0,"$75,000","$1,913,250"
16,66,"$1,913,250",2.75%,"$52,614",2.75%,"$52,614",$0,"$75,000","$1,838,250"
17,67,"$1,838,250",2.75%,"$50,552",2.75%,"$50,552",$0,"$75,000","$1,763,250"
18,68,"$1,763,250",2.75%,"$48,489",2.75%,"$48,489",$0,"$75,000","$1,688,250"
19,69,"$1,688,250",2.75%,"$46,427",2.75%,"$46,427",$0,"$75,000","$1,613,250"
20,70,"$1,613,250",2.75%,"$44,364",2.75%,"$44,364",$0,"$75,000","$1,538,250"
21,71,"$1,538,250",2.75%,"$42,302",2.75%,"$42,302",$0,"$75,000","$1,463,250"
22,72,"$1,463,250",2.75%,"$40,239",2.75%,"$40,239",$0,"$75,000","$1,388,250"
23,73,"$1,388,250",2.75%,"$38,177",2.75%,"$38,177",$0,"$75,000","$1,313,250"
24,74,"$1,313,250",2.75%,"$36,114",2.75%,"$36,114",$0,"$75,000","$1,238,250"
25,75,"$1,238,250",2.75%,"$34,052",2.75%,"$34,052",$0,"$75,000","$1,163,250"
26,76,"$1,163,250",2.75%,"$31,989",2.75%,"$31,989",$0,"$75,000","$1,088,250"
27,77,"$1,088,250",2.75%,"$29,927",2.75%,"$29,927",$0,"$75,000","$1,013,250"
28,78,"$1,013,250",2.75%,"$27,864",2.75%,"$27,864",$0,"$75,000","$938,250"
29,79,"$938,250",2.75%,"$25,802",2.75%,"$25,802",$0,"$75,000","$863,250"
30,80,"$863,250",2.75%,"$23,739",2.75%,"$23,739",$0,"$75,000","$788,250"
31,81,"$788,250",2.75%,"$21,677",2.75%,"$21,677",$0,"$75,000","$713,250"
32,82,"$713,250",2.75%,"$19,614",2.75%,"$19,614",$0,"$75,000","$638,250"
33,83,"$638,250",2.75%,"$17,552",2.75%,"$17,552",$0,"$75,000","$563,250"
34,84,"$563,250",2.75%,"$15,489",2.75%,"$15,489",$0,"$75,000","$488,250"
35,85,"$488,250",2.75%,"$13,427",2.75%,"$13,427",$0,"$69,750","$418,500"
36,86,"$418,500",2.75%,"$11,509",2.75%,"$11,509",$0,"$69,750","$348,750"
37,87,"$348,750",2.75%,"$9,591",2.75%,"$9,591",$0,"$69,750","$279,000"
38,88,"$279,000",2.75%,"$7,672",2.75%,"$7,672",$0,"$69,750","$209,250"
39,89,"$209,250",2.75%,"$5,754",2.75%,"$5,754",$0,"$69,750","$139,500"
40,90,"$139,500",2.75%,"$3,836",2.75%,"$3,836",$0,"$69,750","$69,750"
41,91,"$69,750",2.75%,"$1,918",2.75%,"$1,918",$0,"$69,750",$0

In [6]:
investment_return_rate = 6

amortization_real_df = create_retirement_amortization_table(
    retirement_age, fund_depletion_age, reduced_mobillity_age, 
    living_expenses, reduced_mobility_expense_rate, 
    investment_return_rate, inflation_rate
)

display(Markdown(f"""## Balanced Portfolio
Assume the retirement funds are held in a balanced or defensive portfolio with an annual net return (after fees and taxes) of {investment_return_rate}%.
"""))

format_amortization_display(amortization_real_df)

## Balanced Portfolio
Assume the retirement funds are held in a balanced or defensive portfolio with an annual net return (after fees and taxes) of 6%.

Required starting fund balance: $1,694,838

Balance values expressed in 'real terms' adjusted for inflation by deflating (eroding) future values.

Amortization Table:

,Age,Start Balance,Investment Rate,Investment Return,Inflation Rate,Inflation Erosion,Real Return,Annual Expenses,End Balance
0,50,"$1,694,838",6%,"$101,690",2.75%,"$46,608","$55,082","$75,000","$1,674,920"
1,51,"$1,674,920",6%,"$100,495",2.75%,"$46,060","$54,435","$75,000","$1,654,355"
2,52,"$1,654,355",6%,"$99,261",2.75%,"$45,495","$53,767","$75,000","$1,633,122"
3,53,"$1,633,122",6%,"$97,987",2.75%,"$44,911","$53,076","$75,000","$1,611,198"
4,54,"$1,611,198",6%,"$96,672",2.75%,"$44,308","$52,364","$75,000","$1,588,562"
5,55,"$1,588,562",6%,"$95,314",2.75%,"$43,685","$51,628","$75,000","$1,565,190"
6,56,"$1,565,190",6%,"$93,911",2.75%,"$43,043","$50,869","$75,000","$1,541,059"
7,57,"$1,541,059",6%,"$92,464",2.75%,"$42,379","$50,084","$75,000","$1,516,143"
8,58,"$1,516,143",6%,"$90,969",2.75%,"$41,694","$49,275","$75,000","$1,490,418"
9,59,"$1,490,418",6%,"$89,425",2.75%,"$40,986","$48,439","$75,000","$1,463,856"
10,60,"$1,463,856",6%,"$87,831",2.75%,"$40,256","$47,575","$75,000","$1,436,432"
11,61,"$1,436,432",6%,"$86,186",2.75%,"$39,502","$46,684","$75,000","$1,408,116"
12,62,"$1,408,116",6%,"$84,487",2.75%,"$38,723","$45,764","$75,000","$1,378,880"
13,63,"$1,378,880",6%,"$82,733",2.75%,"$37,919","$44,814","$75,000","$1,348,693"
14,64,"$1,348,693",6%,"$80,922",2.75%,"$37,089","$43,833","$75,000","$1,317,526"
15,65,"$1,317,526",6%,"$79,052",2.75%,"$36,232","$42,820","$75,000","$1,285,345"
16,66,"$1,285,345",6%,"$77,121",2.75%,"$35,347","$41,774","$75,000","$1,252,119"
17,67,"$1,252,119",6%,"$75,127",2.75%,"$34,433","$40,694","$75,000","$1,217,813"
18,68,"$1,217,813",6%,"$73,069",2.75%,"$33,490","$39,579","$75,000","$1,182,392"
19,69,"$1,182,392",6%,"$70,944",2.75%,"$32,516","$38,428","$75,000","$1,145,820"
20,70,"$1,145,820",6%,"$68,749",2.75%,"$31,510","$37,239","$75,000","$1,108,059"
21,71,"$1,108,059",6%,"$66,484",2.75%,"$30,472","$36,012","$75,000","$1,069,071"
22,72,"$1,069,071",6%,"$64,144",2.75%,"$29,399","$34,745","$75,000","$1,028,815"
23,73,"$1,028,815",6%,"$61,729",2.75%,"$28,292","$33,437","$75,000","$987,252"
24,74,"$987,252",6%,"$59,235",2.75%,"$27,149","$32,086","$75,000","$944,338"
25,75,"$944,338",6%,"$56,660",2.75%,"$25,969","$30,691","$75,000","$900,029"
26,76,"$900,029",6%,"$54,002",2.75%,"$24,751","$29,251","$75,000","$854,280"
27,77,"$854,280",6%,"$51,257",2.75%,"$23,493","$27,764","$75,000","$807,044"
28,78,"$807,044",6%,"$48,423",2.75%,"$22,194","$26,229","$75,000","$758,273"
29,79,"$758,273",6%,"$45,496",2.75%,"$20,852","$24,644","$75,000","$707,916"
30,80,"$707,916",6%,"$42,475",2.75%,"$19,468","$23,007","$75,000","$655,924"
31,81,"$655,924",6%,"$39,355",2.75%,"$18,038","$21,318","$75,000","$602,241"
32,82,"$602,241",6%,"$36,134",2.75%,"$16,562","$19,573","$75,000","$546,814"
33,83,"$546,814",6%,"$32,809",2.75%,"$15,037","$17,771","$75,000","$489,585"
34,84,"$489,585",6%,"$29,375",2.75%,"$13,464","$15,912","$75,000","$430,497"
35,85,"$430,497",6%,"$25,830",2.75%,"$11,839","$13,991","$69,750","$374,738"
36,86,"$374,738",6%,"$22,484",2.75%,"$10,305","$12,179","$69,750","$317,167"
37,87,"$317,167",6%,"$19,030",2.75%,"$8,722","$10,308","$69,750","$257,725"
38,88,"$257,725",6%,"$15,464",2.75%,"$7,087","$8,376","$69,750","$196,351"
39,89,"$196,351",6%,"$11,781",2.75%,"$5,400","$6,381","$69,750","$132,983"
40,90,"$132,983",6%,"$7,979",2.75%,"$3,657","$4,322","$69,750","$67,554"
41,91,"$67,554",6%,"$4,053",2.75%,"$1,858","$2,196","$69,750",$0

## Comparison

Many retirement plans use similar assumptions for retirement funds with higher investment options for wealth accumulation prior to retirement.

Both the ASFA Retirement Standard and the moneysmart.gov.au calculator include a part Age Pension in their calculations, and the required funds are **reduced by half**. 

Using the same assumptions of "2.75% AWE as a deflator, and investment earning of 6%" 

The ASFA March 2025 update suggests a couple require a fund balance of $690,000 at age 67 in todays dollars, but is based on slightly lower expenses of $73,000 and does not disclose the fund depletion age or how long the funds would be expected to last. 

The moneysmart.gov.au calculator suggests a couple require a only $450,000 at age 67 with the part Age Pension starting from age 67 at $45,246 and slowly ramping over $56,000 by age 91.

SuperGuy Youtube channel also suggest a comfortable retirement will require around $700,000 age 67 based on different assumptions of higher annual expenses of $80,000, with higher returns of 6.5% but lower inflation at 2.5% and fund depletion at age 90 instead of age 92.
https://www.youtube.com/watch?v=zT32JNvI17U

SuperGuy demonstrated how much difference the Age Pension can make with a couple retiring at age 60 require double the fund balance, around $1.45 million.

The Age Pension thresholds are based on asset / home ownership, so non-homeowner claim higher Age Pension, but would need higher expenses to cover rent payments.

In [7]:
investment_return_rate = 12

amortization_real_df = create_retirement_amortization_table(
    retirement_age, fund_depletion_age, reduced_mobillity_age, 
    living_expenses, reduced_mobility_expense_rate, 
    investment_return_rate, inflation_rate
)

display(Markdown(f"""## Growth Portfolio
Assume the retirement funds are held in a growth portfolio tied to the S&P 500 index with an annual net return (with dividends and stock buybacks, less fees and taxes) of {investment_return_rate}%.
"""))

format_amortization_display(amortization_real_df)

## Growth Portfolio
Assume the retirement funds are held in a growth portfolio tied to the S&P 500 index with an annual net return (with dividends and stock buybacks, less fees and taxes) of 12%.

Required starting fund balance: $789,892

Balance values expressed in 'real terms' adjusted for inflation by deflating (eroding) future values.

Amortization Table:

,Age,Start Balance,Investment Rate,Investment Return,Inflation Rate,Inflation Erosion,Real Return,Annual Expenses,End Balance
0,50,"$789,892",12%,"$94,787",2.75%,"$21,722","$73,065","$75,000","$787,957"
1,51,"$787,957",12%,"$94,555",2.75%,"$21,669","$72,886","$75,000","$785,843"
2,52,"$785,843",12%,"$94,301",2.75%,"$21,611","$72,690","$75,000","$783,533"
3,53,"$783,533",12%,"$94,024",2.75%,"$21,547","$72,477","$75,000","$781,010"
4,54,"$781,010",12%,"$93,721",2.75%,"$21,478","$72,243","$75,000","$778,254"
5,55,"$778,254",12%,"$93,390",2.75%,"$21,402","$71,988","$75,000","$775,242"
6,56,"$775,242",12%,"$93,029",2.75%,"$21,319","$71,710","$75,000","$771,952"
7,57,"$771,952",12%,"$92,634",2.75%,"$21,229","$71,406","$75,000","$768,358"
8,58,"$768,358",12%,"$92,203",2.75%,"$21,130","$71,073","$75,000","$764,431"
9,59,"$764,431",12%,"$91,732",2.75%,"$21,022","$70,710","$75,000","$760,141"
10,60,"$760,141",12%,"$91,217",2.75%,"$20,904","$70,313","$75,000","$755,454"
11,61,"$755,454",12%,"$90,654",2.75%,"$20,775","$69,879","$75,000","$750,333"
12,62,"$750,333",12%,"$90,040",2.75%,"$20,634","$69,406","$75,000","$744,739"
13,63,"$744,739",12%,"$89,369",2.75%,"$20,480","$68,888","$75,000","$738,627"
14,64,"$738,627",12%,"$88,635",2.75%,"$20,312","$68,323","$75,000","$731,950"
15,65,"$731,950",12%,"$87,834",2.75%,"$20,129","$67,705","$75,000","$724,656"
16,66,"$724,656",12%,"$86,959",2.75%,"$19,928","$67,031","$75,000","$716,686"
17,67,"$716,686",12%,"$86,002",2.75%,"$19,709","$66,293","$75,000","$707,980"
18,68,"$707,980",12%,"$84,958",2.75%,"$19,469","$65,488","$75,000","$698,468"
19,69,"$698,468",12%,"$83,816",2.75%,"$19,208","$64,608","$75,000","$688,076"
20,70,"$688,076",12%,"$82,569",2.75%,"$18,922","$63,647","$75,000","$676,723"
21,71,"$676,723",12%,"$81,207",2.75%,"$18,610","$62,597","$75,000","$664,320"
22,72,"$664,320",12%,"$79,718",2.75%,"$18,269","$61,450","$75,000","$650,770"
23,73,"$650,770",12%,"$78,092",2.75%,"$17,896","$60,196","$75,000","$635,966"
24,74,"$635,966",12%,"$76,316",2.75%,"$17,489","$58,827","$75,000","$619,793"
25,75,"$619,793",12%,"$74,375",2.75%,"$17,044","$57,331","$75,000","$602,124"
26,76,"$602,124",12%,"$72,255",2.75%,"$16,558","$55,696","$75,000","$582,820"
27,77,"$582,820",12%,"$69,938",2.75%,"$16,028","$53,911","$75,000","$561,731"
28,78,"$561,731",12%,"$67,408",2.75%,"$15,448","$51,960","$75,000","$538,691"
29,79,"$538,691",12%,"$64,643",2.75%,"$14,814","$49,829","$75,000","$513,520"
30,80,"$513,520",12%,"$61,622",2.75%,"$14,122","$47,501","$75,000","$486,021"
31,81,"$486,021",12%,"$58,323",2.75%,"$13,366","$44,957","$75,000","$455,978"
32,82,"$455,978",12%,"$54,717",2.75%,"$12,539","$42,178","$75,000","$423,156"
33,83,"$423,156",12%,"$50,779",2.75%,"$11,637","$39,142","$75,000","$387,298"
34,84,"$387,298",12%,"$46,476",2.75%,"$10,651","$35,825","$75,000","$348,123"
35,85,"$348,123",12%,"$41,775",2.75%,"$9,573","$32,201","$69,750","$310,574"
36,86,"$310,574",12%,"$37,269",2.75%,"$8,541","$28,728","$69,750","$269,552"
37,87,"$269,552",12%,"$32,346",2.75%,"$7,413","$24,934","$69,750","$224,736"
38,88,"$224,736",12%,"$26,968",2.75%,"$6,180","$20,788","$69,750","$175,774"
39,89,"$175,774",12%,"$21,093",2.75%,"$4,834","$16,259","$69,750","$122,283"
40,90,"$122,283",12%,"$14,674",2.75%,"$3,363","$11,311","$69,750","$63,844"
41,91,"$63,844",12%,"$7,661",2.75%,"$1,756","$5,906","$69,750",$0

In [8]:
investment_return_rate = 30

amortization_real_df = create_retirement_amortization_table(
    retirement_age, fund_depletion_age, reduced_mobillity_age, 
    living_expenses, reduced_mobility_expense_rate, 
    investment_return_rate, inflation_rate
)

display(Markdown(f"""## Exponential Growth Portfolio
Assume the retirement funds are held in an exponential growth portfolio with an annual net return (with dividends and stock buybacks, less fees and taxes) of {investment_return_rate}%.
"""))

format_amortization_display(amortization_real_df)

## Exponential Growth Portfolio
Assume the retirement funds are held in an exponential growth portfolio with an annual net return (with dividends and stock buybacks, less fees and taxes) of 30%.

Required starting fund balance: $275,215

Balance values expressed in 'real terms' adjusted for inflation by deflating (eroding) future values.

Amortization Table:

,Age,Start Balance,Investment Rate,Investment Return,Inflation Rate,Inflation Erosion,Real Return,Annual Expenses,End Balance
0,50,"$275,215",30%,"$82,564",2.75%,"$7,568","$74,996","$75,000","$275,211"
1,51,"$275,211",30%,"$82,563",2.75%,"$7,568","$74,995","$75,000","$275,206"
2,52,"$275,206",30%,"$82,562",2.75%,"$7,568","$74,994","$75,000","$275,200"
3,53,"$275,200",30%,"$82,560",2.75%,"$7,568","$74,992","$75,000","$275,191"
4,54,"$275,191",30%,"$82,557",2.75%,"$7,568","$74,990","$75,000","$275,181"
5,55,"$275,181",30%,"$82,554",2.75%,"$7,567","$74,987","$75,000","$275,168"
6,56,"$275,168",30%,"$82,550",2.75%,"$7,567","$74,983","$75,000","$275,151"
7,57,"$275,151",30%,"$82,545",2.75%,"$7,567","$74,979","$75,000","$275,130"
8,58,"$275,130",30%,"$82,539",2.75%,"$7,566","$74,973","$75,000","$275,103"
9,59,"$275,103",30%,"$82,531",2.75%,"$7,565","$74,965","$75,000","$275,068"
10,60,"$275,068",30%,"$82,520",2.75%,"$7,564","$74,956","$75,000","$275,024"
11,61,"$275,024",30%,"$82,507",2.75%,"$7,563","$74,944","$75,000","$274,968"
12,62,"$274,968",30%,"$82,491",2.75%,"$7,562","$74,929","$75,000","$274,897"
13,63,"$274,897",30%,"$82,469",2.75%,"$7,560","$74,909","$75,000","$274,807"
14,64,"$274,807",30%,"$82,442",2.75%,"$7,557","$74,885","$75,000","$274,692"
15,65,"$274,692",30%,"$82,407",2.75%,"$7,554","$74,853","$75,000","$274,545"
16,66,"$274,545",30%,"$82,364",2.75%,"$7,550","$74,814","$75,000","$274,359"
17,67,"$274,359",30%,"$82,308",2.75%,"$7,545","$74,763","$75,000","$274,121"
18,68,"$274,121",30%,"$82,236",2.75%,"$7,538","$74,698","$75,000","$273,819"
19,69,"$273,819",30%,"$82,146",2.75%,"$7,530","$74,616","$75,000","$273,435"
20,70,"$273,435",30%,"$82,031",2.75%,"$7,519","$74,511","$75,000","$272,946"
21,71,"$272,946",30%,"$81,884",2.75%,"$7,506","$74,378","$75,000","$272,324"
22,72,"$272,324",30%,"$81,697",2.75%,"$7,489","$74,208","$75,000","$271,532"
23,73,"$271,532",30%,"$81,460",2.75%,"$7,467","$73,993","$75,000","$270,525"
24,74,"$270,525",30%,"$81,157",2.75%,"$7,439","$73,718","$75,000","$269,243"
25,75,"$269,243",30%,"$80,773",2.75%,"$7,404","$73,369","$75,000","$267,611"
26,76,"$267,611",30%,"$80,283",2.75%,"$7,359","$72,924","$75,000","$265,536"
27,77,"$265,536",30%,"$79,661",2.75%,"$7,302","$72,358","$75,000","$262,894"
28,78,"$262,894",30%,"$78,868",2.75%,"$7,230","$71,639","$75,000","$259,533"
29,79,"$259,533",30%,"$77,860",2.75%,"$7,137","$70,723","$75,000","$255,255"
30,80,"$255,255",30%,"$76,577",2.75%,"$7,020","$69,557","$75,000","$249,812"
31,81,"$249,812",30%,"$74,944",2.75%,"$6,870","$68,074","$75,000","$242,886"
32,82,"$242,886",30%,"$72,866",2.75%,"$6,679","$66,186","$75,000","$234,072"
33,83,"$234,072",30%,"$70,222",2.75%,"$6,437","$63,785","$75,000","$222,857"
34,84,"$222,857",30%,"$66,857",2.75%,"$6,129","$60,729","$75,000","$208,586"
35,85,"$208,586",30%,"$62,576",2.75%,"$5,736","$56,840","$69,750","$195,675"
36,86,"$195,675",30%,"$58,703",2.75%,"$5,381","$53,322","$69,750","$179,247"
37,87,"$179,247",30%,"$53,774",2.75%,"$4,929","$48,845","$69,750","$158,342"
38,88,"$158,342",30%,"$47,502",2.75%,"$4,354","$43,148","$69,750","$131,740"
39,89,"$131,740",30%,"$39,522",2.75%,"$3,623","$35,899","$69,750","$97,889"
40,90,"$97,889",30%,"$29,367",2.75%,"$2,692","$26,675","$69,750","$54,813"
41,91,"$54,813",30%,"$16,444",2.75%,"$1,507","$14,937","$69,750",$0